<div class="px-3 py-8 my-10 text-center">
  <p class="py-6 text-center font-bold">Mostrando todos los artículos</p>
  <%= link_to "Crear nuevo artículo", new_article_path, class:"my-6 mx-5 p-3 bg-yellow-500 shadow-lg shadow-yellow-500/50 rounded hover:font-bold" %>
</div>
<table class="text-center">
  <tr>
    <th>Título</th>
    <th>Foto</th>
  </tr>
  <% @articles.each do |article| %>
  <tr class="bg-yellow-500">
    <td><%= article.title %></td>
    <td><%= image_tag(article.photo, class:"h-32 inline") %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= button_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
  </tr>
  <% end %>
</table>
