<!--HOMEPAGE-->

<!--Hero Section-->
<div class="px-3 py-8 my-10 bg-neutral-950 flex flex-col items-center justify-center "> <!-- El color plomo es para visualizar el div-->
  <p class="text-4xl text-yellow-500 font-bold "> INTER DE LIMA </p>
</div>

<section class="py-5 bg-gradient-to-b from-zinc-950 from-30% via-neutral-800 via-50% to-zinc-950 to-90%"> <!--Mejorar gradiente o cambiarlo a imagen de fondo-->

  <!--Carousel para noticias-->
  <div class="text-center">
    <div class="mx-auto my-6 py-6 inset-0 w-1/2 h-60 bg-pink-900 ">
      CARRUSEL DE IMAGENES
    </div>
  </div>

  <!--Equipos-->
  <div class="text-center text-xl font-bold">
    <p> NUESTROS  <span class="text-yellow-500">EQUIPOS</span></p>
    <!--Juegos-->
    <div class="mx-auto my-6 py-6 inset-0 w-1/2 h-20 border-b border-yellow-500 ">
      <nav id="tabs-container" class="flex space-x-2 justify-center" aria-label="Tabs" role="tablist">
        <button type="button" class="py-4 px-1 inline-flex items-center gap-2 border-b-[3px] border-transparent text-lg whitespace-nowrap text-yellow-500 hover:text-blue-600" id="tab-1">
          <span> FIFA </span>
        </button>
        <button type="button" class="py-4 px-1 inline-flex items-center gap-2 border-b-[3px] border-transparent text-lg whitespace-nowrap text-gray-500 hover:text-blue-600" id="tab-2">
          <span> VALORANT </span>
        </button>
      </nav>
    </div>
  </div>

  <div id="tabs-content" class="mt-3 mx-auto flex justify-center">
    <div id="tabs-content-1">
      <!--Imágenes de jugadores-->
      <div class="flex items-center justify-around space-x-10">
        <div class="max-w-sm rounded overflow-hidden shadow-lg bg-yellow-500">
          <%= image_tag("DMS10.jpg") %>
          <div class="px-6 py-4 border-t-4 border-black">
            <div class="font-bold text-2xl text-center mb-2">DMS10</div>
          </div>
        </div>

      <div class="max-w-sm rounded overflow-hidden shadow-lg bg-yellow-500">
        <%= image_tag("MAGIC.png") %>
        <div class="px-6 py-4 border-t-4 border-black">
          <div class="font-bold text-2xl text-center mb-2">MAGIC</div>
        </div>
      </div>
    </div>

  </div>
    <div id="tabs-content-2" class="hidden">
      <p class="text-gray-500 dark:text-gray-400">
        This is the <em class="font-semibold text-gray-800 dark:text-gray-200">second</em> item's tab body.
      </p>
    </div>
  </div>


  <!--Sponsors-->
  <div class="text-center text-xl font-bold my-6 py-6">
     <p> NUESTROS  <span class="text-yellow-500">PARTNERS</span></p>
      <div class="flex items-center justify-center">
        <img class= "my-6 h-32 inline" src="https://lh3.googleusercontent.com/p/AF1QipMxAxIe_gk8filzTavgxpRjvY7Et-OUsLY0w8cg=s680-w680-h510" alt="Gamer Store Thunder logo">
      </div>
  </div>

  <!--Redes Sociales-->

  <div class="text-center text-2xl font-bold my-6 py-6">
     <p> ENTÉRATE DE NUESTRAS <span class="text-yellow-500"> PRÓXIMAS JUGADAS</span></p>
  </div>

  <div class="mx-auto my-6 py-6 flex items-center justify-around">
    <!--Twitter-->
    <%# <a class="twitter-timeline" data-width="600" data-height="1000" href="https://twitter.com/interdelima?ref_src=twsrc%5Etfw">Tweets by interdelima</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> %>

    <div class="text-center">
      <p> Síguenos en <span class="text-yellow-500"> nuestras redes: </span></p>
      <div class="grid grid-rows-2 grid-flow-col">
        <a href="#" class="mx-3 my-6 px-3 py-6 space-x-3"> <%= image_tag("instagram.png", class:"h-32 inline") %> </a>
        <a href="#" class="mx-3 my-6 px-3 py-6 space-x-3"> <%= image_tag("twitter.png", class:"h-32 inline") %></a>
        <a href="#" class="mx-3 my-6 px-3 py-6 space-x-3"> <%= image_tag("youtube.png", class:"h-32 inline") %></a>
        <a href="#" class="mx-3 my-6 px-3 py-6 space-x-3"> <%= image_tag("tiktok.png", class:"h-32 inline") %></a>
      </div>
    </div>
  </div>

  <!--Formulario de Contacto-->
  <%# Practicar con esta card %>

  </div>
</section>
