<!DOCTYPE html>
<html>
  <head>
    <title>Inter de Lima</title>
    <%= favicon_link_tag "logo_oscuro.png"%>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>
  <%= render 'layouts/navbar' %>
  <!--flex col y min h screen para tener el footer siempre al final-->
  <body class="bg-hero bg-no-repeat bg-cover text-white flex flex-col min-h-screen">
    <%= yield %>
    <% flash.each do |name, msg| %>
      <ul>
        <li><%= msg %></li>
      </ul>
    <% end %>
  </body>
  <%= render 'layouts/footer' %>
</html>
